@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="Calculadora de IMC" />
        <Calculator />
    </Slide>
    <Slide Id="history">
        <History />
    </Slide>
    <Slide Id="about">
        <h1>Sobre</h1>
    </Slide>
</div>

<dialog id="result-dialog">
    <h1>Resultado</h1>
</dialog>